ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color:inherit;   
}
body{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0a0a0a;
        max-width: 1280px;
        margin: auto;
}
.header{
    background-color: #ffffff; 
    padding: 30px  330px 30px 330px;  
    color: #FF0000; 
    font-size: 18px;
    line-height: 18px; 
    letter-spacing: 2.7px;
    max-width: 620px; 
} 
  

.container{
max-width: 620px;
margin: 0 auto;

}

.nav{
display: flex;
justify-content: space-between;
align-items: center;
max-width: 620px;
}
.menu{
display: flex;
flex-grow: 1;
flex-basis: 0;
justify-content: space-between;
align-items: center;

height: 15px;
}
.h{
    height: 29px;
    padding: 48px 253px 38px;
}
.h2{
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
text-align: center;

}
.main{
    text-align: center;
}
.p1{

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
margin:28px 67.5px;
}
.p2{
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin:0 67.5px;
}
.p3{
text-align: right;
padding: 0 105px  0 0;
margin: 0 0 29px 0;
}
.button1{
    margin: 66px 544.5px 82px 544.5px;
}

.button{
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
display:inline-block;
background-color: #ff0000;
border-radius: 4px;
padding: 18px 43.5px 17px 42.5px;
cursor: pointer;
}
